{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="panel">
        <div class="panel-heading">Top 10 Stocks</div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Open</th>
                <th class="high">High</th>
                <th class="low">Low</th>
                <th>Close</th>
                <th>Last</th>
                <th>PrevClose</th>
                <th>No Of Trades</th>
                <th>No Of Shares</th>
                <th>Net Worth</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.get('SC_NAME') }}</td>
                <td>{{ item.get('OPEN') }}</td>
                <th class="high">{{ item.get('HIGH') }}
                </td>
                <th class="low">{{ item.get('LOW') }}
                </td>
                <td>{{ item.get('CLOSE') }}</td>
                <td>{{ item.get('LAST') }}</td>
                <td>{{ item.get('PREVCLOSE') }}</td>
                <td>{{ item.get('NO_TRADES') }}</td>
                <td>{{ item.get('NO_OF_SHRS') }}</td>
                <td>{{ item.get('NET_TURNOV') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}